.ck-gap {
    text-decoration: underline;

    text-decoration-style: wavy;

    &--strict {
        text-decoration-style: solid;
    }

    &--allow-empty {
        text-decoration-color: #909090;
    }
}